.main {
  display: flex;
  flex-direction: column;

  padding-top: 110px;
}

.rocket {
  animation: animated_rocket 8s linear infinite;
}

.dragonImg {
  max-width: 400px;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .dragonImg {
    max-width: 250px;
  }
}

@keyframes animated_rocket {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
